@{
  Layout = "_Layout";
}
<div>
@model Factory.Models.Engineer;

<h2>Engineer Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>


@if(@Model.JoinEntities.Count == 0)
{
  <p>This engineer is not authorized to fix any machines</p>
}
else
{
  <h4>Machines this engineer can service:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Machine.Description</li>
  }
  </ul>
}


@* <p>@Html.ActionLink("Add new machine", "Machines", "Create")</p> *@
<p>@Html.ActionLink("Back to categories", "Index")</p>
<p>@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</p>
</div>